
@{
    ViewBag.Title = "AccountLedgerProcess";
}


<div class="br-pagebody">
    <h6 class="br-section-label">Account Ledger Process</h6>
    <div class="br-section-wrapper pd-t-20">
        <div class="row">
            <div class="col-lg mg-t-10 mg-lg-t-0">
                <h6 class="br-section-label">Ledger Process</h6>
                <input type="submit" value="Run" class="btn btn-info" onclick="StartProcess();" />
            </div><!-- col -->
        </div><!-- row -->
    </div>
</div>

<script type="text/javascript">

    function StartProcess() {
            $.ajax({
                type: "POST",
                url: "@Url.Action("RunAccountLedgerProcess", "AccountReport")",
                success: function (data) {
                    toastr.success("Success");
                },
                error: function (result, textStatus, jqXHR) {

                }
        });
    }

</script>