
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="br-pagebody">
    <div class="br-section-wrapper">
        <h6 class="br-section-label">Change Password</h6>
        @*@using (Html.BeginForm("ChangePassword", "LogIn", FormMethod.Post ))
        {*@
            <div class="row">
                <div class="col-lg">
                    <input type="password" class="form-control form-control-dark" name="password" id="password" placeholder="New Password" type="text">
                </div><!-- col -->
                <div class="col-lg mg-t-10 mg-lg-t-0">
                </div><!-- col -->
                <div class="col-lg mg-t-10 mg-lg-t-0">
                </div><!-- col -->
            </div><!-- row -->
            <div class="row pd-t-20">
                <div class="col-lg">
                    <input type="password" class="form-control form-control-dark" name="confirmpassword" id="confirmpassword" placeholder="Confirm Password" type="text">
                </div><!-- col -->
                <div class="col-lg mg-t-10 mg-lg-t-0">
                </div><!-- col -->
                <div class="col-lg mg-t-10 mg-lg-t-0">
                </div><!-- col -->
            </div><!-- row -->
            <div class="row pd-t-20">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-success" onclick="validatepas()"/>
                </div>
            </div>
        @*}*@
    </div>
</div>
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/lib/js")
<script type="text/javascript">
    function validatepas()
    {
        var pass=$('#password').val();
        var confpass=$('#confirmpassword').val();
        
        var min=5;
        var max=10;
        if(pass=="" || confpass=="")
        {
            toastr.warning("Password Field cannot be Blank !!!!");
            return false;
        }
        if(pass!=confpass)
        {
            toastr.warning("New Password do not match with Confirm Password");
            return false;
        }
        if(pass.length<min) {
            toastr.warning("Password length Should be greater than 5 Characters ");
                return false;
            }
        if (pass.length > max || confpass.length > max)
        {
            toastr.warning("Password length Should be less than 10 Characters ");
            return false;
        }
        $.ajax({
            url: "@Url.Action("ChangePassword", "LogIn")",
            data: { password: pass },
            dataType: "json",
            type: "POST",
            cache: false,
            success: function (result) {
            if (result.IsSuccess) {
                toastr.success(result.Message);
                var delayInMilliseconds = 2000; //2 second
                setTimeout(function () {
                    window.location.href = '@Url.Action("Login", "LogIn")';
                }, delayInMilliseconds);

            }
            else
                toastr.error(result.Message);
        }
    });

    }
</script>