
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="br-pagebody">
    <h6 class="br-section-label">পাসওয়ার্ড রিসেট করুন</h6>
    <div class="br-section-wrapper">
        <div class="row">
            <div class="col-lg">
                <input type="text" class="form-control form-control-dark" id="txtUserid" placeholder="ব্যবহারকারী আইডি" >
            </div><!-- col -->
            <div class="col-lg mg-t-10 mg-lg-t-0">
            </div><!-- col -->
            <div class="col-lg mg-t-10 mg-lg-t-0">
            </div><!-- col -->
        </div><!-- row -->
        <div class="row pd-t-20">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="পাসওয়ার্ড রিসেট" class="btn btn-success" onclick="ResetPassword()" />
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    function ResetPassword()
    {
        var userId = $('#txtUserid').val();

        if (userId == "" || userId == "")
        {
            toastr.warning("Password Field cannot be Blank !!!!");
            return false;
        }

        $.ajax({
            url: "@Url.Action("ResetPasswordSave", "LogIn")",
            data: { loginId: userId },
            dataType: "json",
            type: "POST",
            cache: false,
            success: function (result) {
            if (result.IsSuccess) {
                toastr.success(result.Message);
            }
            else
                toastr.error(result.Message);
        }
    });

    }
</script>