
<div class="br-pageheader">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
        <a class="breadcrumb-item" href="index.html">Home</a>
        <span class="breadcrumb-item active">Blank Page</span>
    </nav>
</div><!-- br-pageheader -->
<div class="br-pagetitle">
    <i class="icon icon ion-ios-book-outline"></i>
    <div>
        <h4>Basic Table</h4>
        <p class="mg-b-0">Flora Limited support management system</p>
    </div>
</div><!-- d-flex -->

<div class="br-pagebody">
        <div class="br-section-wrapper">
          <h6 class="br-section-label">Basic Table</h6>
          <p class="br-section-text">Using the most basic table markup.</p>

          <div class="bd bd-white-1 rounded table-responsive">
            <table class="table mg-b-0">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Position</th>
                  <th>Salary</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Tiger Nixon</td>
                  <td>System Architect</td>
                  <td>$320,800</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Garrett Winters</td>
                  <td>Accountant</td>
                  <td>$170,750</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Ashton Cox</td>
                  <td>Junior Technical Author</td>
                  <td>$86,000</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Cedric Kelly</td>
                  <td>Senior Javascript Developer</td>
                  <td>$433,060</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>Airi Satou</td>
                  <td>Accountant</td>
                  <td>$162,700</td>
                </tr>
              </tbody>
            </table>
          </div><!-- bd -->

   

          <h6 class="br-section-label">Striped Rows</h6>
          <p class="br-section-text">Add zebra-striping to any table row.</p>

          <div class="bd bd-white-1 rounded table-responsive">
            <table class="table table-striped mg-b-0">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Position</th>
                  <th>Salary</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Tiger Nixon</td>
                  <td>System Architect</td>
                  <td>$320,800</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Garrett Winters</td>
                  <td>Accountant</td>
                  <td>$170,750</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Ashton Cox</td>
                  <td>Junior Technical Author</td>
                  <td>$86,000</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Cedric Kelly</td>
                  <td>Senior Javascript Developer</td>
                  <td>$433,060</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>Airi Satou</td>
                  <td>Accountant</td>
                  <td>$162,700</td>
                </tr>
              </tbody>
            </table>
          </div><!-- bd -->



          <h6 class="br-section-label">Bordered Table</h6>
          <p class="br-section-text">Add borders on all sides of the table and cells.</p>

          <div class="bd bd-white-1 rounded table-responsive">
            <table class="table table-bordered mg-b-0">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Position</th>
                  <th>Salary</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Tiger Nixon</td>
                  <td>System Architect</td>
                  <td>$320,800</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Garrett Winters</td>
                  <td>Accountant</td>
                  <td>$170,750</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Ashton Cox</td>
                  <td>Junior Technical Author</td>
                  <td>$86,000</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Cedric Kelly</td>
                  <td>Senior Javascript Developer</td>
                  <td>$433,060</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>Airi Satou</td>
                  <td>Accountant</td>
                  <td>$162,700</td>
                </tr>
              </tbody>
            </table>
          </div><!-- bd-0 -->

         

          <h6 class="br-section-label">Hoverable Rows</h6>
          <p class="br-section-text">To enable a hover state on table rows.</p>

          <div class="bd bd-white-1 rounded table-responsive">
            <table class="table table-hover mg-b-0">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Position</th>
                  <th>Salary</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Tiger Nixon</td>
                  <td>System Architect</td>
                  <td>$320,800</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Garrett Winters</td>
                  <td>Accountant</td>
                  <td>$170,750</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Ashton Cox</td>
                  <td>Junior Technical Author</td>
                  <td>$86,000</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Cedric Kelly</td>
                  <td>Senior Javascript Developer</td>
                  <td>$433,060</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>Airi Satou</td>
                  <td>Accountant</td>
                  <td>$162,700</td>
                </tr>
              </tbody>
            </table>
          </div><!-- bd -->



          <h6 class="br-section-label">12 Color Variations for Table Header</h6>
          <p class="br-section-text">A custom color for the head of the tables.</p>

          <div class="table-responsive">
            <table class="table table-bordered">
              <thead class="thead-colored thead-primary">
                <tr>
                  <th class="wd-10p">ID</th>
                  <th class="wd-35p">Name</th>
                  <th class="wd-35p">Position</th>
                  <th class="wd-20p">Salary</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Tiger Nixon</td>
                  <td>System Architect</td>
                  <td>$320,800</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Garrett Winters</td>
                  <td>Accountant</td>
                  <td>$170,750</td>
                </tr>
              </tbody>
            </table>
          </div><!-- table-responsive -->


          <div class="table-responsive">
            <table class="table table-bordered">
              <thead class="thead-colored thead-success">
                <tr>
                  <th class="wd-10p">ID</th>
                  <th class="wd-35p">Name</th>
                  <th class="wd-35p">Position</th>
                  <th class="wd-20p">Salary</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Tiger Nixon</td>
                  <td>System Architect</td>
                  <td>$320,800</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Garrett Winters</td>
                  <td>Accountant</td>
                  <td>$170,750</td>
                </tr>
              </tbody>
            </table>
          </div><!-- table-responsive -->

          <div class="table-responsive">
            <table class="table table-bordered">
              <thead class="thead-colored thead-warning">
                <tr>
                  <th class="wd-10p">ID</th>
                  <th class="wd-35p">Name</th>
                  <th class="wd-35p">Position</th>
                  <th class="wd-20p">Salary</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Tiger Nixon</td>
                  <td>System Architect</td>
                  <td>$320,800</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Garrett Winters</td>
                  <td>Accountant</td>
                  <td>$170,750</td>
                </tr>
              </tbody>
            </table>
          </div><!-- table-responsive -->

          <table class="table table-bordered">
            <thead class="thead-colored thead-danger">
              <tr>
                <th class="wd-10p">ID</th>
                <th class="wd-35p">Name</th>
                <th class="wd-35p">Position</th>
                <th class="wd-20p">Salary</th>
              </tr>
            </thead>
          </table>

          <table class="table table-bordered">
            <thead class="thead-colored thead-info">
              <tr>
                <th class="wd-10p">ID</th>
                <th class="wd-35p">Name</th>
                <th class="wd-35p">Position</th>
                <th class="wd-20p">Salary</th>
              </tr>
            </thead>
          </table>

          <table class="table table-bordered">
            <thead class="thead-colored thead-teal">
              <tr>
                <th class="wd-10p">ID</th>
                <th class="wd-35p">Name</th>
                <th class="wd-35p">Position</th>
                <th class="wd-20p">Salary</th>
              </tr>
            </thead>
          </table>

          <table class="table table-bordered">
            <thead class="thead-colored thead-indigo">
              <tr>
                <th class="wd-10p">ID</th>
                <th class="wd-35p">Name</th>
                <th class="wd-35p">Position</th>
                <th class="wd-20p">Salary</th>
              </tr>
            </thead>
          </table>

          <table class="table table-bordered">
            <thead class="thead-colored thead-purple">
              <tr>
                <th class="wd-10p">ID</th>
                <th class="wd-35p">Name</th>
                <th class="wd-35p">Position</th>
                <th class="wd-20p">Salary</th>
              </tr>
            </thead>
          </table>

          <table class="table table-bordered">
            <thead class="thead-colored thead-pink">
              <tr>
                <th class="wd-10p">ID</th>
                <th class="wd-35p">Name</th>
                <th class="wd-35p">Position</th>
                <th class="wd-20p">Salary</th>
              </tr>
            </thead>
          </table>

          <table class="table table-bordered">
            <thead class="thead-colored thead-orange">
              <tr>
                <th class="wd-10p">ID</th>
                <th class="wd-35p">Name</th>
                <th class="wd-35p">Position</th>
                <th class="wd-20p">Salary</th>
              </tr>
            </thead>
          </table>

       

     
          <p class="br-section-text">A custom full color variations for the entire table.</p>

          <table class="table table-bordered table-colored table-primary">
            <thead>
              <tr>
                <th class="wd-10p">ID</th>
                <th class="wd-35p">Name</th>
                <th class="wd-35p">Position</th>
                <th class="wd-20p">Salary</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>$320,800</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>$170,750</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Ashton Cox</td>
                <td>Junior Technical Author</td>
                <td>$86,000</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Cedric Kelly</td>
                <td>Senior Javascript Developer</td>
                <td>$433,060</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Airi Satou</td>
                <td>Accountant</td>
                <td>$162,700</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-bordered table-colored table-success">
            <thead>
              <tr>
                <th class="wd-10p">ID</th>
                <th class="wd-35p">Name</th>
                <th class="wd-35p">Position</th>
                <th class="wd-20p">Salary</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>$320,800</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>$170,750</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Ashton Cox</td>
                <td>Junior Technical Author</td>
                <td>$86,000</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Cedric Kelly</td>
                <td>Senior Javascript Developer</td>
                <td>$433,060</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Airi Satou</td>
                <td>Accountant</td>
                <td>$162,700</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-bordered table-colored table-warning">
            <thead>
              <tr>
                <th class="wd-10p">ID</th>
                <th class="wd-35p">Name</th>
                <th class="wd-35p">Position</th>
                <th class="wd-20p">Salary</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>$320,800</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>$170,750</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Ashton Cox</td>
                <td>Junior Technical Author</td>
                <td>$86,000</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Cedric Kelly</td>
                <td>Senior Javascript Developer</td>
                <td>$433,060</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Airi Satou</td>
                <td>Accountant</td>
                <td>$162,700</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-bordered table-colored table-danger">
            <thead>
              <tr>
                <th class="wd-10p">ID</th>
                <th class="wd-35p">Name</th>
                <th class="wd-35p">Position</th>
                <th class="wd-20p">Salary</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>$320,800</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>$170,750</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-bordered table-colored table-info">
            <thead>
              <tr>
                <th class="wd-10p">ID</th>
                <th class="wd-35p">Name</th>
                <th class="wd-35p">Position</th>
                <th class="wd-20p">Salary</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>$320,800</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>$170,750</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-bordered table-colored table-teal">
            <thead>
              <tr>
                <th class="wd-10p">ID</th>
                <th class="wd-35p">Name</th>
                <th class="wd-35p">Position</th>
                <th class="wd-20p">Salary</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>$320,800</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>$170,750</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-bordered table-colored table-indigo">
            <thead>
              <tr>
                <th class="wd-10p">ID</th>
                <th class="wd-35p">Name</th>
                <th class="wd-35p">Position</th>
                <th class="wd-20p">Salary</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>$320,800</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>$170,750</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-bordered table-colored table-purple">
            <thead>
              <tr>
                <th class="wd-10p">ID</th>
                <th class="wd-35p">Name</th>
                <th class="wd-35p">Position</th>
                <th class="wd-20p">Salary</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>$320,800</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>$170,750</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-bordered table-colored table-pink">
            <thead>
              <tr>
                <th class="wd-10p">ID</th>
                <th class="wd-35p">Name</th>
                <th class="wd-35p">Position</th>
                <th class="wd-20p">Salary</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>$320,800</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>$170,750</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-bordered table-colored table-orange">
            <thead>
              <tr>
                <th class="wd-10p">ID</th>
                <th class="wd-35p">Name</th>
                <th class="wd-35p">Position</th>
                <th class="wd-20p">Salary</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>$320,800</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>$170,750</td>
              </tr>
            </tbody>
          </table>

     

        </div><!-- br-section-wrapper -->
      </div><!-- br-pagebody -->
