@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="br-pagebody">
    <h6 class="br-section-label">Dashboard</h6>
    <div class="br-section-wrapper">
       
        @*<div id="issueListDiv">
            @{

                Html.RenderAction("_VendorIssueList", "Home");
            }
        </div>*@
    </div>
</div>