
@{
    ViewBag.Title = "ChangePassword";
}

    <div class="br-pagebody">
        <h6 class="br-section-label">New User</h6>
            <div class="br-section-wrapper pd-t-20">
                <div class="row mg-t-20">
                    <div class="col-lg">
                        <h6 class="br-section-label">New Password</h6>
                        <input class="form-control form-control" type="password" name="password" id="password">
                    </div><!-- col -->
                    <div class="col-lg mg-t-10 mg-lg-t-0">
                    </div><!-- col -->
                    <div class="col-lg mg-t-10 mg-lg-t-0">
                    </div><!-- col -->
                    <div class="col-lg mg-t-10 mg-lg-t-0">
                    </div><!-- col -->
                </div><!-- row -->
                <div class="row mg-t-20">
                    <div class="col-lg">
                        <h6 class="br-section-label">Confirm Password</h6>
                        <input class="form-control form-control" type="password" name="confirmpassword" id="confirmpassword">
                    </div><!-- col -->
                    <div class="col-lg mg-t-10 mg-lg-t-0">
                    </div><!-- col -->
                    <div class="col-lg mg-t-10 mg-lg-t-0">
                    </div><!-- col -->
                    <div class="col-lg mg-t-10 mg-lg-t-0">
                    </div><!-- col -->
                </div><!-- row -->
                <div class="row pd-t-20">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" value="Change Password" class="btn btn-info" onclick="ChangePassword();" />
                    </div>
                </div>
            </div>
    </div>
    <script>
    $(document).ready(function () {
        //$('#confirmpassword').keyup(function () {
        //    var pass = $('#password');
        //    if ($(this) != pass)
        //        toastr.warning("Password not Matched");
        //});
    });
    function ChangePassword() {
        var pass = $('#password').val();
        var confirmpassword = $('#confirmpassword').val();
        if (pass != confirmpassword) {
            toastr.error("Password Not Matched");
            return;
        }
        $.ajax({
                url: "@Url.Action("UpdatePassword", "UserSecurity")",
                data: { password: pass, confirmPassword: confirmpassword},
                type: "post",
            success: function (result) {
                if (result.IsSuccess)
                    toastr.success(result.Message);
                else
                    toastr.error(result.Message);
            },
            error: function (result, textStatus, jqXHR) {

            }
            });
    }
    </script>