
@{
    ViewBag.Title = "Password Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="br-pagebody">
        <h6 class="br-section-label">Security Policy</h6>
        <div class="br-section-wrapper pd-t-20">
            <div class="row">
                <div class="col-lg">
                    <h6 class="br-section-label">Password Length</h6>
                    <input class="form-control form-control" id="txtPasswordLength" name="PasswordLength" autocomplete="off" placeholder="Password Length" type="text">
                </div><!-- col -->
                <div class="col-lg mg-t-10 mg-lg-t-0">
                    <h6 class="br-section-label">Email Verify</h6>
                    <label class="ckbox">
                        <input name="ckbBox" id="chkEmailYes" type="checkbox">
                        <span><i style="color:red;font-weight:bold;"> Yes</i></span>
                    </label>
                </div><!-- col -->
                <div class="col-lg mg-t-10 mg-lg-t-0">
                    <h6 class="br-section-label">Phone No Validation</h6>
                    <label class="ckbox">
                        <input name="ckbBox" id="chkPhoneYes" type="checkbox">
                        <span><i style="color:red;font-weight:bold;"> Yes</i></span>
                    </label>
                </div><!-- col -->
                <div class="col-lg mg-t-10 mg-lg-t-0">
                    <h6 class="br-section-label">Number of Bad Login Attempt</h6>
                    <input class="form-control form-control" id="txtBadAttampt" name="BadAttampt" autocomplete="off" placeholder="Bad Attampt" type="text">
                </div><!-- col -->
                <div class="col-lg mg-t-10 mg-lg-t-0">
                    <h6 class="br-section-label">Captcha Validation</h6>
                    <input name="ckbBox" id="chkCaptchaValidation" type="checkbox">
                    <span><i style="color:red;font-weight:bold;"> Yes</i></span>
                </div><!-- col -->
            </div><!-- row -->
            <div class="row pd-t-20">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-info" onclick="SaveSecurityPolicy();" />
                </div>
            </div>

        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            LoadSecurityPolicy();
        });
   function LoadSecurityPolicy() {
            $.ajax({
                type: "POST",
                url: "@Url.Action("LoadSecurityPolicy", "UserSecurity")",
                success: function (data) {
                    $("#txtPasswordLength").val(data.PasswordLength);
                    $("#chkEmailYes").prop("checked", data.EmailVarified);
                    $("#chkPhoneYes").prop("checked", data.PhoneYes);
                    $("#txtBadAttampt").val(data.BadLoginAttampt);
                    $("#chkCaptchaValidation").prop("checked", data.CaptchaValidation);
                },
                error: function (result, textStatus, jqXHR) {

                }
        });
    }

    function SaveSecurityPolicy() {
        var txtPasswordLength = $('#txtPasswordLength').val();

        var emailVerify = 0;
        if ($("#chkEmailYes").prop("checked"))
            emailVerify = 1;

        var chkPhoneYes = 0;
        if ($("#chkPhoneYes").prop("checked"))
            chkPhoneYes = 1;
        var badAttmpt = $('#txtBadAttampt').val();

        var captchaValidation = 0;
        if ($("#chkCaptchaValidation").prop("checked"))
            captchaValidation = 1;

         $.ajax({
                type: "POST",
                url: "@Url.Action("SaveSecurityPolicy", "UserSecurity")",
             data: {
                 PasswordLength: txtPasswordLength, emailVerify: emailVerify, chkPhoneYes: chkPhoneYes, badAttmpt: badAttmpt, captchaValidation: captchaValidation
                },
            success: function (result) {
                if (result.IsSuccess)
                    toastr.success(result.Message);
                else
                    toastr.error(result.Message);
            },
            error: function (result, textStatus, jqXHR) {

            }
        });
    }

    </script>