@model OnlineExamCenter.ModelsVM.QuestionVM

    <div class="row">
        <div class="col-lg">
            <h6 class="br-section-label">Question Number</h6>
            <input class="form-control form-control-dark" disabled="disabled" value="@Model.QuestionNo"  type="text"/>
        </div><!-- col -->
    </div>