
@{
    ViewBag.Title = "QuestionWeightSetup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="br-pagebody">
    <h6 class="br-section-label">Question Dificulties</h6>
    <div class="br-section-wrapper">
        <div class="row">
            <div class="col-lg mg-t-20">
                <a href="@Url.Action("QuestionWeightIndex", "QuestionBank")" class="btn btn-sm btn-info"><i class="fa fa-arrow-left"></i>Back</a>
            </div>
        </div>
        <div class="row mg-t-20">
            <div class="col-lg">
                <input class="form-control form-control-dark" id="txtQuestionWeight" onKeyPress="return checkLength(this,10)" name="QuestionWeight" placeholder="Question Dificulties" type="text">
            </div><!-- col -->
            <div class="col-lg mg-t-10 mg-lg-t-0">
            </div><!-- col -->
            <div class="col-lg mg-t-10 mg-lg-t-0">
            </div><!-- col -->
        </div><!-- row -->
        <div class="row pd-t-20">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-info" onclick="SaveQuestionWeight();" />
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    function SaveQuestionWeight()
    {
        var weight = $("#txtQuestionWeight").val();
        $.ajax({
            type: "POST",
            url: "@Url.Action("SaveQuestionWeight", "QuestionBank")",
            data: { weight: weight },
        success: function (result) {
            if (result.IsSuccess)
                toastr.success(result.Message);
            else
                toastr.error(result.Message);
        },
        error: function (result, textStatus, jqXHR) {

        }
    });
    }
    function checkLength(el, len) {
        if (el.value.length > len) {
            toastr.warning("Limit Exceed");
            return false;
        }
        else
            return true;
    }
</script>