@model IEnumerable<OnlineExamCenter.ModelsVM.QuestionWeightVM>
@{
    ViewBag.Title = "QuestionWeightIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="br-pagebody">
    <h6 class="br-section-label">Question Weight</h6>
    <div class="br-section-wrapper">
        <div class="row">
            <div class="col-lg">
                <a href="@Url.Action("QuestionWeightSetup", "QuestionBank")" class="btn btn-sm btn-success"><i class="fa fa-plus"></i>New</a>
            </div>
        </div>
        <div class="row">
            <div class="col-6 ">

                <div class="bd bd-white-1 rounded table-responsive">
                    <table class="table table-bordered table-hover mg-b-0">
                        <thead class="thead-colored thead-primary">
                            <tr>
                                <th>
                                    Question Dificulties
                                </th>
                                <th>
                                    Status
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                                {
                                    <tr>
                                        <td style="text-align:center">
                                            @Html.DisplayFor(modelItem => item.Weight)
                                        </td>
                                        <td style="text-align:center">
                                            @Html.DisplayFor(modelItem => item.StatusName)
                                        </td>
                                        <td style="text-align:center">
                                            <a href='@Url.Action("QuestionWeightDetail", "QuestionBank", new { weightid = item.Id })' title="Edit">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
</div>
